
body {
  min-height: 100vh;
	font-family: 'Varela Round', sans-serif;
	color: #515151;
  background: #fff;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

fieldset{
  border: none;
}

header {
  max-width: 100%;
  margin: auto;
}

hr {
	border-style: double;
	padding-top: 0;
  padding-bottom: 0;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 10px;
}

form {
  margin-top: 50px;
}

h1 {
  color: #fff;
  text-align: center;
  background: #2a2b2b;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 100%;
  margin:auto;
}

h2 {
  font-family: serif;
}

legend {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
  margin-top: 0;
  font-weight: bolder;
  font-size: 24px;
  font-family: serif;
}
input {
  color: #666;
}
input,
textarea {
  padding: 10px;
}
input,
textarea,
select {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  background-color: #eff0f1;
  border-radius: 5px;
  border: none;
  transition: background-color 2s;
}

textarea {
  height: 80px;
  border: none;
}

label {
  display: block;
  margin-left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  color: gray;
  text-align: left;
}

button {
  color: #fafafa;
  background-color: #5ac3c3;
  margin-top: 30px;
  font-weight: 300;
  font-size: 20px;
  font-family: serif;
  padding: 18px 35px;
  border-radius: 5px;
}
/*Attrribute Selector*/

select#state {
  color: #babbbc;
  padding-left: 5px;
}
input#zipcode {
  max-width: 50%;
}
/*Class Selectors*/
.signup_form .inline_field input,
.signup_form .inline_field label {
  display: inline-block;
  height: 10px;
}
.signup_form .inline_field input {
  width: 30px;
}
::placeholder {
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  color: #babbbc;
  padding-right: 10px;
  padding-bottom: 17px;
}
input:focus {
  background-color: #fafafa;
  outline: none;
}
.newsletter {
  margin-top: 30px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.double {
  border: 2px solid black;
  margin-bottom: 0;
}

.offer {
  text-align: center;
  padding-top: 10px;
  margin-top: 0;
  background-color: #fafafa;
}

.offer p {
  color:#bdc1c1;
  padding-bottom: 25px;
}

.user_info {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.topics {
  display: grid;
}
.topics p {
  font-family: Georgia, serif;
  font-size: 16px;
  color:#8d8e8e;
  padding: 5px;
}
.main_footer {
  text-align: center;
  color: #babbbc;
  font-style: italic;
  margin-top: 25px;
  padding-bottom: 75px;
}

@media (min-width: 768px) {
  .signup_form label {
    display: inline-block;
    width: 25%;
  }
  .signup_form input,
  .signup_form select {
    display: inline-block;
    width: 74%;
  }
}
